:root {
  --primary-color: #393434;
  --secondary-color: #f9f9f9;
  --terciary-color: #8a8a8a;
  --stroke-color: #cccccc;
  --shades-color: rgba(48, 48, 48, 0.3);
  --font-family-primary: "Domaine", serif;
  --font-family-secondary: "Montserrat", sans-serif;
  --font-family-alternates: "Alternates", sans-serif;
  --font-size-small: 1rem;
  --font-size-medium: 1.25rem;
  --font-size-h: 1.5rem; /*--24 PX--*/
  --font-branding: 15rem;
  --font-weight-regular: 400;
}
